/*estilos del cuerpo de la pagina*/

body{
    background-color: rgb(66, 187, 127);
}

header{
    background-color: black;
/*¿bordes redondeados?*/
    border-radius: 1em;

}

/*Hacer que el header se mantenga del tama�o que requiera la barra de navegación*/
header::after{
    content: '';
    display: table;
    clear: both;
}

.waifu_logo{
    float: left;
    height: 100px;
    width: 100px;
    padding: 0px 10px;
}

/*
-------------------Navigation bar-----------
*/

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 8px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 35px;
    padding-top: 25px;
    position: relative;
}

nav a{
    color: #fff;
    font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    text-decoration: none;

}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    top: 10px;
    width: 0%;
    background-color: white;
    position: absolute;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/*
nav a:hover {
    color: rgb(0,255, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: large;
}
*/

.cuerpo{
    background-color: aquamarine;
    margin: 2em;
    border-radius: 1em;
    padding: 1em;
    height: 550px;
}

.saber {
    height: 500px;
    width: 500px;
    padding: 10px;
}

.protection {
    display: none;
}

.box{
    position: relative;
    float: left;
}

.box .protection{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.box:hover .protection{
    display: block;
}

/*
body:hover{
   background-color: rgb(255, 0, 220);
}
*/

/*pie de pagina*/

.footer{
   background-color: blueviolet;
   margin: 2em;
   height: 10em;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

