body{
   background-color: rgb(66, 187, 127);
}

span{
   color: aqua;
}

span:hover{
   color: yellowgreen;
}

body:hover{
   background-color: rgb(255, 0, 220);
}

.main_menu{
    background-color: red;
    width: 60%;
    height: 2em;
}